<div class="container" >

    <div class="form-signin"  style="max-width: 630px;">
        <table class="table table-striped  table-bordered table-condensed table-hover" style="width: 100%;">   
            <caption> <h2 class="form-signin-heading" ng-click="show()">List of verbs</h2></caption>
            <tr>
                <th style="width: 30%;">Verb</th>
                <th style="width: 55%;">Meaning</th>
                <th style="width: 5%;">Rate</th>
                <th style="width: 10%;">Favorites</th>
            </tr>
            <tbody>
                <tr ng-repeat="item in list.items">
                    <td> <a  ui-sref="verb({ ind: $index, back: 'list'})" >  {{item.verb}}</a></td>
                    <td>{{item.meaning}}</td>     
                    <td>{{item.rate}}</td> 
                    <td>
                        <div class="glyphicon glyphicon-heart" style="color: red;" ng-click="set(item)" ng-show="item.like"></div>
                        <div class="glyphicon glyphicon-heart" style="color: silver;"  ng-click="set(item)" ng-show="!item.like"></div>                    
                    </td> 
                </tr>
            </tbody>
        </table>               
    </div>

</div>